@import './vars.scss';

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  font-size: 20px;
  overflow: hidden;
  height: 100%;
}

body,
#root {
  overflow: hidden;
  height: 100%;
  font-family: $font;
  color: $text-color;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding: 5px;
  &::placeholder {
    font-weight: 100;
    font-family: $font;
  }
}

button {
  border: 0;
  cursor: pointer;
  outline: none;
  font-family: $font;
  background-color: #fff;
  min-height: 40px;
  padding: 5px;

  &:disabled {
    background-color: $disabled-color !important;
  }
}

ul {
  list-style-type: none;
}

.title {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-weight: bold;
  min-height: 40px;
  line-height: 40px;
  margin-bottom: 20px;
  padding: 0 20px;
}
