$font: 'Inter', sans-serif;
$text-color: #fff;
$accent-color: #ff8b37;
$hover-color: #ffac70;
$disabled-color: #aaa;
$active-color: #e87928;
$answer-color: #fff3eb;
$correct-answer-color: #e6faea;
$incorrect-answer-color: #fdeeed;
