@import '~styles/vars.scss';

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .start-btn {
    background-color: $accent-color;
    border-radius: 6px;
    color: #fff;
    width: 300px;
    margin-top: 10px;

    &:hover {
      background-color: $hover-color;
    }
    &:disabled {
      background-color: $disabled-color;
    }
  }

  .username {
    height: 32px;
    font-size: 16px;
    width: 100%;
  }

  .score {
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #000;
  }

  .ratings {
    width: 100%;
    background-color: #000;

    td {
      padding: 5px;
      &:first-child {
        width: 300px;
      }
    }
  }
}
