.main {
  width: 640px;
  height: 480px;
  background: url(../../images/bg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
